<template>
  <div class="line">
    <span class="handler">👉</span>
    <div
      contenteditable="true"
      ref="content"
      class="content"
      placeholder="Type away. / will show the context menu"
    >
      <!-- Content gets set through JS -->
    </div>
  </div>
</template>

<script>
export default {
  name: "LineWrapper",

  props: {
    line: Object
  },

  data() {
    return {
      recordingActive: false,
      modifierActive: false,
      recordValue: ""
    };
  },

  methods: {
    stopRecording() {
      this.recordingActive = false;
      this.recordValue = "";
    },

    recordKeys(key) {
      this.recordValue += key;
    }
  },

  mounted() {
    this.$refs.content.innerHTML = this.line.content;
    // Setting Keyevents programmatically as contenteditable are not fully catched by Vue
    this.$refs.content.addEventListener("keydown", event => {
      console.log(event.code);
      if (event.code.match(/Shift/)) {
        this.modifierActive = true;
      }
    });

    this.$refs.content.addEventListener("keyup", event => {
      if (event.code.match(/Shift/)) {
        this.modifierActive = false;
      }
      if (event.code === "Enter") {
        if (this.modifierActive) return;
        event.stopPropagation();
        event.preventDefault();
        this.$emit("qwiki:enter", this.recordValue);
        this.stopRecording();
        return;
      }
      if (event.code === "Slash") {
        this.recordingActive = true;
        this.$emit("qwiki:slash");
        return;
      }
      if (this.recordingActive) {
        this.recordKeys(event.key);
      }
    });
  }
};
</script>

<style scoped>
.line {
  display: flex;
  max-width: 800px;
  padding: 5px;
}
.handler {
}

.content {
  flex: 1;
  text-align: left;
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  padding: 3px 2px;
  min-height: 1em;
}

.content:empty::before {
  content: attr(placeholder);
  color: #aaa;
}
</style>
