<template>
  <div>
    <LineWrapper
      v-for="line in lines.all()"
      :key="line.id"
      :line="line"
      v-on="customEvents"
    />
    <div v-show="popup.visible" class="popup">
      <h3>Select a Component</h3>
      <button>
        <span class="command">/page</span><br />
        <span>Add a new page</span>
      </button>
      <button>
        <span class="command">/list</span><br />
        <span>Add a interactive list</span>
      </button>
      <button>
        <span class="command">/issue</span><br />
        <span>Reference a Gitlab issue</span>
      </button>
    </div>
  </div>
</template>

<script>
import LineWrapper from "./LineWrapper.vue";
import Model from "@codeship/modelist";

const Text = Symbol("text");
const lines = new Model({
  data: [
    {
      type: Text,
      content: ""
    }
  ]
});

export default {
  name: "Page",

  components: { LineWrapper },

  data() {
    return {
      popup: {
        visible: false
      },
      lines
    };
  },

  methods: {
    handleEnter(context) {
      if (this.popup.visible) {
        alert(`Triggering custom event with context ${context}`);
        this.popup.visible = false;
        return;
      }

      this.lines.record({ type: Text, content: "" });
      this.$nextTick(function() {
        this.$children[this.lines.size - 1].$refs.content.focus();
      });
    },

    showPopup() {
      this.popup.visible = true;
    }
  },

  computed: {
    customEvents() {
      return {
        "qwiki:enter": this.handleEnter,
        "qwiki:slash": this.showPopup
      };
    }
  }
};
</script>

<style scoped>
.popup {
  position: absolute;
  top: 20%;
  left: 50%;
  border: 1px solid #eaeaea;
  transform: translateX(-50%);
  padding: 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
  width: 100%;
  border: 0;
  text-align: left;
  margin-bottom: 1rem;
}

button .command {
  font-size: 1rem;
}
</style>
